.vscode
.ipynb_checkpoints

# Binaries
*.pdf
*.png
*.svg
*.zip
*.pkl
*.npy
*.pickle
*.tar
*.tar.gz

# Datafiles
*.dat
*.data
*.log
*.xyz
*.mat
*.txt
**/data/**

# Python binaries
*.egg-info
**/__pycache__/**

# Un-ignore
!requirements.txt